var popupTemplate = '<div class="customInfobox"><div class="font-bold px-2">{name}</div>';

//Create a popup but leave it closed so we can update it and display it later.
popup = new atlas.Popup({
  pixelOffset: [0, -18],
  closeButton: false
});

var symbolLayer = new atlas.layer.SymbolLayer(datasource);
map.layers.add(symbolLayer);
map.events.add('mouseover', symbolLayer, function (e) {
    //Make sure that the point exists.
    if (e.shapes && e.shapes.length > 0) {
      var content, coordinate;
      var properties = e.shapes[0].getProperties();
      content = popupTemplate.replace(/{name}/g, properties.name);
      coordinate = e.shapes[0].getCoordinates();
  
      popup.setOptions({
        //Update the content of the popup.
        content: content,
  
        //Update the popup's position with the symbol's coordinate.
        position: coordinate
  
      });
      //Open the popup.
      popup.open(map);
    }
  });
map.events.add('mouseleave', symbolLayer, function (){
    popup.close();
  });

map.events.add('click', symbolLayer, function(e){
    var properties = e.shapes[0].getProperties();
    window.location.href=properties.url

})
