{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h2 class="text-2xl font-bold">Create your Account</h2>
<p>An account is only required for organization management and extended API access. If you would like to create an account, please read our project <a class="underline hover:italic" href="https://github.com/kjaymiller/diversity-orgs-django">Code of Conduct</a> and fill out the form below.</p>

<div class="border rounded m-3 p-3">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="m-4 text-right">
      <button type="submit" class="text-white hover:font-bold p-1 w-24 rounded bg-blue-300 hover:bg-blue-500">Sign Up</button>
    </div>
  </form>
</div>

<p class="my-9">If you already have an account you can <a class="underline text-green-800" href="{% url 'login' %}">login here</a>.</p>
{% endblock %}