     <!-- Add references to the Azure Maps Map control JavaScript and CSS files. -->
     <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css" type="text/css" />
     <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"></script>

     <!-- Add a reference to the Azure Maps Services Module JavaScript file. -->
     <script src="https://atlas.microsoft.com/sdk/javascript/service/2/atlas-service.min.js"></script>

     <script>
     function GetMap(){
        var map = new atlas.Map("map", {
            renderWorldCopies: true,
            view: 'Auto',
            style: 'road',
            showLogo: true,
            showFeedbackLink: true,
            zoom: 1,
           // Add your Azure Maps primary subscription key. https://aka.ms/am-primaryKey
           authOptions: {
               authType: 'subscriptionKey',
               subscriptionKey: '{{AZURE_MAPS_KEY}}'
           }
       });
       //Wait until the map resources are ready.
       map.events.add('ready', function () {
        var datasource = new atlas.source.DataSource(null, {
            cluster: true,
            clusterRadius: 45,
            clusterMaxZoom: 15
        }
        );
        map.sources.add(datasource);
        var resultLayer = new atlas.layer.SymbolLayer(datasource, null, {
            iconOptions: {
                image: 'pin-round-darkblue',
                anchor: 'center',
                allowOverlap: true
            },
            textOptions: {
                anchor: "top"
            }
        });
        map.layers.add(resultLayer);
        map.controls.add(new atlas.control.ZoomControl(), {
            position: 'bottom-right'
        });
        var clusterBubbleLayer = new atlas.layer.BubbleLayer(datasource, null, {
            //Scale the size of the clustered bubble based on the number of points inthe cluster.
            radius: [
              'step',
              ['get', 'point_count'],
              20,         //Default of 20 pixel radius.
              10, 30,    //If point_count >= 100, radius is 30 pixels.
              30, 40     //If point_count >= 750, radius is 40 pixels.
            ],
        
            //Change the color of the cluster based on the value on the point_cluster property of the cluster.
            color: [
              'step',
              ['get', 'point_count'],
              'lime',            //Default to lime green. 
              10, 'yellow',     //If the point_count >= 100, color is yellow.
              20, 'orange'        //If the point_count >= 100, color is red.
            ],
            strokeWidth: 0,
            filter: ['has', 'point_count'] //Only rendered data points which have a point_count property, which clusters do.
          });
        
          //Add the clusterBubbleLayer and two additional layers to the map.
          map.layers.add([
            clusterBubbleLayer,
        
            //Create a symbol layer to render the count of locations in a cluster.
            new atlas.layer.SymbolLayer(datasource, null, {
              iconOptions: {
                image: 'none' //Hide the icon image.
              },
              textOptions: {
                textField: ['get', 'point_count_abbreviated'],
                offset: [0, 0.4]
              }
            }),
        
            //Create a layer to render the individual locations.
            new atlas.layer.SymbolLayer(datasource, null, {
              filter: ['!', ['has', 'point_count']] //Filter out clustered points from this layer.
            })
          ]);
        datasource.importDataFromUrl('{{map_url}}')    
    });
}
</script>
