<div class="my-4 py-2">
    <form action="/search">
        <div class="flex justify-between">
            <input name="q" type="text" class="w-full border shadow rounded-xl border-slate-300 p-3 focus:font-bold focus:border-gray-100 italic" id="search" value="{{query}}" placeholder="Search Technologies, Diversity Groups, and Locations">
            <button type="submit" class="bg-gradient-to-br to-purple-300 from-purple-400 rounded-xl shadow-lg shadow-indigo-100 mx-4 px-3 py-1">Submit</button>
        </div>
    </form>
</div>
