<div class="my-4 py-2">
    <form action="/search">
        <div class="flex w-full">
            <input name="q" type="text" class="sm:w-3/4 lg:w-5/6 border shadow rounded-lg font-thin border-slate-300 px-2 lg:p-3 focus:font-bold text-sm md:text-md focus:border-gray-100 italic" id="search" value="{{query}}" placeholder="Search Technologies, Diversity Groups, and Locations">
            <button type="submit" class="bg-gradient-to-br to-purple-300 from-purple-400 rounded-lg shadow-lg shadow-indigo-100 mx-4 px-2 py-1">Submit</button>
        </div>
    </form>
</div>
