{% extends 'base.html' %}

{% block content %}
<div class="p-5 border-b">
    {% if object.location %}
    <small class=""><a href="{{object.location.get_absolute_url}}">{{object.location}}</a></small>
    {% endif %}
    
    {% if object.online_only %}
    <small class="">Online</small>
    {% endif %}
    
    <div class="my-2 flex items-center">
    {% if object.logo %}
        <div>
            <img src="{{object.logo.url}}" alt="Logo for {{object.name}}" class="max-h-24 p-4 mr-4 rounded" />
        </div>
    {% endif %}

        <div>
            <div class="flex items-baseline">
                <h1 class="text-3xl my-2">{{object.name}}</h1>
                {% if is_organizer %}
                    <h2 class="border px-2 m-2 bg-gradient-to-br from-slate-50 to-slate-100 shadow hover:shadow-lg rounded-full text-sm">
                        <a href="{% url "update_org" object.slug %}">Edit</a>
                    </h2>
                    {% endif %}
                    <h2 class="text-red-400 font-thin">Report</h2>
                </div>
            <small class="py-2 p-1"><a href="{{object.url}}">{{object.url}}</a></small>
            <div class="flex items-baseline mr-3">
                {% if object.diversity_focus.all %}
                <div class="flex items-baseline mr-3">
                    <h3 class="font-bold">Diversity Focuses:</h3>
                    {% load org_extras %} 
                    {% for focus in object.diversity_focus.all %}
                        <small class='mx-1 border p-1 rounded-full bg-gradient-to-br from-slate-50 to-slate-100 shadow'>
                            <a href="{% url 'diversity_filter' focus.name %}{% if object.location %}{% urlparams location=object.location.pk %}{% endif %}">{{focus.name}}</a></small>
                    {%endfor%}
                </div>
                {% endif %}
                {% if object.technology_focus.all %}
                <div class="flex items-baseline mx-3">
                    <h3 class="font-bold">Technology Focuses:</h3> 
                    {% for focus in object.technology_focus.all %}
                    <small class='mx-1'>{{focus.name}}</small>
                    {%endfor%}
                </div>
            {% endif %} 
            </div>
        </div>
    </div>
            {% if object.description %}
            <div class="">
                <p class="text-sm">{{object.description}}</p>
            </div>
        {% endif %}
</div>


{% if children %}
<div class="m-2">
    <h2 class="text-xl">Locations</h2>
    <div class="">
        {% for org in children %}
        <div class="border-b-2 border-b-slate-100 py-1 my-3">
            {% if org.location %}
            <a href="{{org.get_absolute_url}}" class="hover:italic">{{org.location}}</a>
            {% endif %}
            {% if org.online_only %}
            <a href="{{org.get_absolute_url}}" class="hover:italic">{{org}} - Online</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if object.parent %}
<div class="m-2">
    <h3 class="hover:underline"><a href="{{object.parent.get_absolute_url}}">See more {{object.parent}} organizations</a></h2>
    </div>
{% endif %}
    
{% if other_orgs %}
<div class="m-2">
    <h2 class="text-xl">Similar Orgs in {{object.location.name}}</h2>
    <div class="">
    {% for org in other_orgs %}
        <div class="border-b-2 border-b-slate-100 py-1 my-3">
            <a href="{{org.get_absolute_url}}" class="hover:italic">{{org}}</a>
        </div>
    {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}