{% extends 'base.html' %}
{% block content %}
<div class="">
    <h1>Showing {% if online_only %} <strong>Online</strong> {% endif %} Orgs {% if tag %} with <strong>{{tag | capfirst}} Field: {% for tv in tag_value %} {{tv}} {% endfor %}</strong>{% endif %}
     {% if location %} in {{location}}{% endif %}</h1>
<h2 class="text-sm"> Showing {{page_obj.start_index}} - {{page_obj.end_index}} of {{page_obj.paginator.count}} results</h2>
    {% if focus and location %}
    <h2 class="text-sm">See All Organizations Tagged: <a href="/filter/{{focus}}/{{tag}}"> class="font-bold hover:underline">{{tag}}</a></h2>
    {% endif %}
    {% if location %}
    {% load org_extras %} 
    <h2 class="text-sm">See All Organizations in <a class="hover:underline font-bold" href="{% url 'org_filter' %}{% urlparams city=object.location.name region=object.location.region country=object.location.country %}">{{location}}</a></h2>  
    {% endif %}
</div>

<div>
    {% for org in page_obj %}
        {% include 'assets/list_index_record.html' %}
    {% endfor %}
</div>

{% include 'assets/pagination.html' %}
{% endblock %}