<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
    {% block title %}{% endblock %} DiversityOrgs.tech</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <div class="mx-auto container">
        <div class="my-2 py-2">
            <h1 class="my-7 text-5xl font-bold"><a href="/">DiversityOrgs.Tech<small class="text-sm font-light">Beta</small></a></h1>
        </div>
        {% include 'assets/search.html' %}
        {% block content %}
        {% endblock %}    
    </div>
</body>
</html>