<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
    {% block title %}{% endblock %} DiversityOrgs.tech</title>
    {% load static %}
    
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <link href="{% static 'web/css/style.css' %}" rel="stylesheet">
    {% if map %}
        {% include 'assets/map_head_embed.html' %}
    {% endif %}

    {% block head %}{% endblock %}
</head>
<body {% if map %}onload="GetMap()"{% endif %}>
        <div class="mx-4 2xl:mx-auto lg:container min-h-screen">
            <div class="mt-5 mb-2 p-2 flex flex-wrap">
                <h1 class="text-2xl lg:text-5xl font-bold mx-1"><a href="/">DiversityOrgs.Tech</a>
                <small class="text-sm xl:text-sm font-light">Beta</small></a></h1>
            </div>

            {% include 'assets/search.html' %}
            
            {% block head_content %}
            {% endblock %}    
            {% block map %}
            {% if map %}
            <div id="map" class="mx-auto h-96 w-full xl:w-2/3"></div>
            {% endif %}
            {% endblock %}    
            
            {% block content %}
            {% endblock %}    
        </div>
    </div>
    {% include 'assets/footer.html' %}
</body>
</html>