{% extends 'base.html' %}
{% block content %}
    <div class=my-4>
        <h2 class="text-3xl font-extrabold">Featured Organizations</h2>
        <div class="flex">
            {% for org in featured_orgs %}
            <div class="h-48 w-72 mx-x my-3 flex items-center px-auto text-2xl">
                {% if org.logo %}
                <a href="{{org.get_absolute_url }}"> 
                    <img src="{{org.logo.url}}" alt="{{org.name}}" class="mx-auto max-h-24 sm:w-full w-72 p-4 rounded" />            
                </a>
                {% endif %}
                <a href="{{org.get_absolute_url }}"> 
                <h2 class="font-bold invisible lg:visible">{{org.name}}</h2>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="my-4">
        <h1 class="text-3xl">Feel like you belong</h1>
        <p>Find and connect with organizations working empower, and underrepresented people in tech.</p>
    </div>
{% endblock%}