{% extends 'base.html' %}

{% block content %}
<small class=""><a href="{% url 'location_filter' organization.location.pk %}">{{organization.location}}</a></small>
<div class="flex flex-wrap items-baseline">    
    <h1 class="text-3xl font-bold pr-2">{{organization.name}}</h1><small><a href="{{organization.url}}"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd" />
    </svg></a></small>
</div>
<div class="flex items-baseline">
    {% if organization.parent %}
    <small class=""><a href="{% url 'parent_org_detail' organization.parent.pk %}">{{organization.parent}}</a></small>
    {% endif %}
    {% for focus in organization.diversity_focus.all %}
    <small class="p-1 mx-2 shadow bg-slate-50"><a href="{% url 'diversity_filter' organization.location.pk focus.pk%}">{{focus}}</a></small>
    {% endfor %}
    {% for focus in organization.technology_focus.all %}
    <small class="p-1 mx-2">{{focus}}</small>
    {% endfor %}
</div>

<div class="m-2">
    <h2 class="text-xl">Others</h2>
    <div class="flex flex-wrap">
        {% for org in others %}
        <div class="border rounded-xl p-2 m-3">
            <a href="{% url 'org_detail' org.pk %}">{{org}}</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}