<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DiversityOrgs.tech</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <div class="mx-auto my-2 container">
        <div class="my-5 border rounded-lg p-2">
            <h1 class="my-7 text-7xl">DiversityOrgs.tech</h1>
        </div>
        {% block content %}
        {% endblock %}    
    </div>
</body>
</html>