{% extends 'base.html' %}
{% block content %}
    <div class="    py-2">
        <form action="">
            <div class="flex justify-between">
                <input type="text" class="w-full border border-slate-300 ml-4 px-3 focus:border-gray-100 italic" id="search" placeholder="Search Technologies, Diversity Groups, and Locations">
                <button type="submit" class="bg-blue-300 hover:bg-blue-400 rounded-lg mx-4 px-3 py-1">Submit</button>
            </div>
        </form>
    </div>
    
    <div>
        <h2>Featured Organizations</h2>
        <div class="flex">
            {# TODO: Loop through featured organizations #}
            {% for org in featured_orgs %}
                <div class="m-5 p-3 border rounded text-3xl">
                    <a href="{% url 'parent_org_detail' org.pk %}"> {{org.name}}</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="my-4">
        <h1 class="text-3xl">Feel like you belong</h1>
        <p>Find and connect with organizations working empower, and underrepresented people in tech.</p>
    </div>

{% endblock%}